[default]
# localhost ansible_python_interpreter=/opt/local/Library/Frameworks/Python.framework/Versions/2.7/bin/python

[head]
{{ swarm_master.default_ip }}

[consul]
{{ swarm_consul.default_ip }}

[nodes]
{% for item in swarm_nodes.results %}
{{ item.default_ip }}
{% endfor %}

[all]
{{ swarm_master.default_ip }}
{% for item in swarm_nodes.results %}
{{ item.default_ip }}
{% endfor %}

[all:vars]
ansible_ssh_user=root
ansible_ssh_private_key_file=~/.ssh/id_rsa_{{ ssh_key }}
