[default]

[head]
{% for item in swarm_head.instances %}
head ansible_host={{ item.public_ip }}
{% endfor %}

[head_private]
{% for item in swarm_head.instances %}
head_private ansible_host={{ item.private_ip }}
{% endfor %}

[nodes]
{% for item in ec2.instances %}
{{ item.public_ip }}
{% endfor %}

[swarm:children]
head
nodes

[swarm:vars]
ansible_ssh_user=ubuntu
ansible_ssh_private_key_file=~/.ssh/id_rsa_{{ ssh_key }}
